@model MyFitnessTracker.Models.WorkoutDTO
@{
    ViewBag.Title = "DeleteConfirm";
}


<div class="container mt-5">
    <h2 class="mb-4">Are you sure you want to delete this Workout?</h2>

    <form action="/Workout/Delete/@Model.WorkoutID" method="POST">
        <a href="/Workout/Details/@Model.UserID" class="btn btn-secondary">Cancel</a>
        <input type="submit" class="btn btn-danger" value="Confirm Delete" />
    </form>

    <h2 class="mt-4">@Model.UserName @Model.UserLastName</h2>
    <div>Date: @Model.WorkoutDate</div>
    <div>Exercise: @Model.ExerciseName</div>
    <div>Type: @Model.SubExerciseName</div>
</div>
