@model MyFitnessTracker.Models.WorkoutDTO
<script src="~/Scripts/scripts.js"></script>
@{
    ViewBag.Title = "Edit";
}


<h2>Edit Workout</h2>
<form action="/Workout/Update/@Model.WorkoutID" method="POST">
    <input type="hidden" name="WorkoutId" value="@Model.WorkoutID" />
   <input type="hidden" name="UserId" value="@Model.UserID" />
 <p> @Model.UserName</p>
    <div>
        <label> WorkoutDate</label> <input type="date" name="WorkoutDate" value="@Model.WorkoutDate.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <label>Duration</label> <input type="number" name="Duration" value="@Model.Duration" />
    </div>
    <div>
        <label for="exerciseDropdown">Select Exercise:</label>
        <select id="exerciseDropdown" name="ExerciseID" onchange="updateSubExerciseDropdown()">
            <option value="@Model.ExerciseId">@Model.ExerciseName</option>
        </select>
    </div>
    <div>
        <label for="subExerciseDropdown">Select Sub-Exercise:</label>

        <select id="subExerciseDropdown" name="SubExerciseID">
            <option value="@Model.SubExerciseId">@Model.SubExerciseName</option>
        </select>
    </div>

    <div>
        <label>Weight</label> <input type="number" name="Weight" value="@Model.Weight" />
    </div>
    <div>
        <label>Reps</label> <input type="number" name="Reps" value="@Model.Reps" />
    </div>
    <div>
        <label>Notes</label> <input type="text" name="Notes" value="@Model.Notes" />
    </div>

    <div>
        <input type="submit" value="Update Workout" />

    </div>
</form>

