﻿@model IEnumerable<MyFitnessTracker.Models.WorkoutDTO>
@{
    ViewBag.Title = "List";
}
<hr />
<div class="container">
    <table class="table table-hover table-bordered mt-4">
        <thead class="table-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>

                <th scope="col">Exercise</th>
                <th scope="col">Sub Exercise</th>
                <th scope="col">Duration</th>
                <th scope="col">Weight</th>
                <th scope="col">Reps</th>
                <th scope="col">Notes</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var workout in Model)
            {
                <tr>
                    <td>
                        <a href="/Workout/Details/@workout.UserID">@workout.UserName @workout.UserLastName</a>
                    </td>
                    <td>@workout.WorkoutDate</td>
                    <td>@workout.ExerciseName</td>
                    <td>@workout.SubExerciseName</td>
                    <td>@workout.Duration</td>
                    <td>@workout.Weight</td>
                    <td>@workout.Reps</td>
                    <td>@workout.Notes</td>
                    <td>
                        <a href="/Workout/Edit/@workout.WorkoutID" class="btn btn-outline-info">Update</a>
                        <a href="/Workout/DeleteConfirm/@workout.WorkoutID" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
