@model List<MyFitnessTracker.Models.UserDataDTO>
@{
    ViewBag.Title = "Details";
}
<div class="container mt-5">
    <h2>Details</h2>
    <a href="/Users/List" class="btn btn-secondary mb-3">Go back to list</a>

    <div class="row">
        @foreach (var user in Model)
        {
            <div class="card col-md-4 mb-3" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        Name: @user.FName @user.LName
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Phone Number: @user.PhoneNumber
                    </h6>
                    <p class="card-text">Email: @user.Email</p>
                    <p class="card-text">Joining Date: @user.JoinDate</p>
                    <a href="/Users/Edit/@user.UserId" class="btn btn-primary">Update Details</a>
                    <a href="/Users/DeleteConfirm/@user.UserId" class="btn btn-danger">Delete User</a>
                </div>
            </div>
        }
    </div>
</div>