@model MyFitnessTracker.Models.UserDataDTO
@{
    ViewBag.Title = "Edit";
}

<div class="container mt-5">
    <h2>Update Details</h2>
    <form action="/Users/Update/@Model.UserId" method="POST">
        <input type="hidden" name="UserId" value="@Model.UserId" />
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="firstName" class="form-label">First Name:</label>
                <input id="firstName" class="form-control" type="text" name="FName" value="@Model.FName" required />
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name:</label>
                <input id="lastName" class="form-control" type="text" name="LName" value="@Model.LName" required />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="email" class="form-label">Email:</label>
                <input id="email" class="form-control" type="email" name="Email" value="@Model.Email" required />
            </div>
            <div class="col-md-6">
                <label for="phoneNumber" class="form-label">Phone Number:</label>
                <input id="phoneNumber" class="form-control" type="tel" name="PhoneNumber" value="@Model.PhoneNumber" required />
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="joiningDate" class="form-label">Joining Date:</label>
                <input id="joiningDate" class="form-control" type="date" name="JoinDate" value="@Model.JoinDate.ToString("yyyy-MM-dd")" required />
            </div>
            <div class="col-md-6">
                <label for="goal" class="form-label">Goal:</label>
                <input id="goal" class="form-control" type="text" name="FitnessGoal" value="@Model.FitnessGoal" />
            </div>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
